{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Liste des images de films </h1>

    This friendly message is coming from:
    <ul>
        {% for e in response %}
            <p> {{ e.title }} </p>
          <li> 
            <img src="{{urlBase ~ e.poster_path}}" />
          </li>
         {# {{dump(e)}}  #}
        {% endfor %}
    </ul>
</div>
{% endblock %}
